{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
    <h2>Active Listings</h2>
    
    <div class="main">
    {% for product in products %}
        {% if product.auction.auction_status == 'AC' %}
        <div class="product">
            <div class='image-container'>
                <a href="{% url 'product' product.id %}">
                    <img class='image' src="{{ product.image.url }}" alt="{{ product.name }}"/>
                </a>
            </div>
            
            <div class="product-content">
                <aside>{{ product.description }}</aside>
                
                <a href="{% url 'product' product.id %}">
                    <h3 class="title">{{ product.name }}</h3>
                </a>
                
                <h3 class="price">${{ product.auction.current_price|floatformat:2|intcomma }}</h3>
            </div>
        </div>
        {% endif %}
    {% empty %}
        <p>No active listings at the moment. Check back soon!</p>
    {% endfor %}
    </div>
{% endblock %}